@import '@/styles/colors.scss';

.post{
    padding: 20px;
    width: 100%;
    height: fit-content;
    border-radius: 20px;
    margin-top: 15px;
    background-color: $primaryDark;

    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;

        .postMenu{
            position: relative;

            .dots{
                cursor: pointer;
                width: 30px;
                height: 30px;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: background-color .2s ease;

                svg{
                    circle{
                        transition: fill .2s ease;
                    }
                }

                &:hover{
                    background-color: rgba($primaryLightDark, 0.5);
                
                    svg{
                        circle{
                            fill: $secondaryLight;
                        }
                    }
                }
            }

            .activeDots{
                background-color: rgba($primaryLightDark, 0.5);
                
                svg{
                    circle{
                        fill: $secondaryLight;
                    }
                }
            }


            .menuList {
                position: absolute;
                z-index: 6;
                min-width: 240px;
                right: 0px;
                top: 40px;
                background-color: $primaryDark;
                border-radius: 20px;
                padding: 10px;
                box-shadow: 0px 0px 5px 0px $primaryLight;
                animation: appear .2s ease;
            
                .menuItem {
                  display: flex;
                  align-items: center;
                  gap: 10px;
                  padding: 10px;
                  border-radius: 10px;
                  background: transparent;
                  transition: background 0.2s ease;
                  cursor: pointer;
                  position: relative;
                  z-index: 2;
                  
            
                  span {
                    font-size: 16px;
                    line-height: 1;
                    font-weight: 500;
                    color: $primaryLight;
                    pointer-events: none;
                  }
                  svg{
                    pointer-events: none;
                  }

                  &:hover {
                    background: rgba($primaryLight, 0.15);
                  }
            
                }
            
                .report {
                  span {
                    color: $secondaryAccent;
                  }
                }
            
                .divider {
                  display: block;
                  height: 2px;
                  width: 92%;
                  margin: 2px auto;
                  background-color: $primaryLightDark;
                  opacity: 0.5;
                }

                @keyframes appear {
                    0%{
                        opacity: 0;
                    }
                    100%{
                        opacity: 1;
                    }
                }
              }
        }
    }

    .description{
        font-size: 16px;
        font-weight: normal;
        line-height: 1.4;
        color: $primaryLight;
        margin-bottom: 15px;
    }

    .media{
        background-color: #000;
        border-radius: 20px;
        margin-bottom: 15px;
        overflow: hidden;
        position: relative;
        > span{
            position: unset !important;
        }
        &Content{
            position: relative !important;
            height: unset !important;
            max-height: 640px !important;
            min-width: unset !important;
            width: fit-content !important;
            max-width: 100% !important;
        }
    }

    .info{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;

        .likes{
            display: flex;
            gap: 5px;
            align-items: center;

            &Count{
                font-size: 12px;
                font-weight: 500;
                line-height: 1;
                color: rgba($primaryLight, 0.5);
            }
        }

        .comments{
            @extend .likesCount;
            transition: color .2s ease;
            cursor: pointer;

            &:hover{
                color: rgba($primaryLight, 1);
            }
        }
    }

    .interactions{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }
}