@import '@/styles/colors.scss';

.post{
    padding: 15px;
    margin: 15px auto 0 auto;
    width: 100%;
    height: fit-content;
    border-radius: 20px;
    background-color: $primaryDark;
    transition: background-color .25s ease-out;
    cursor: pointer;

    &:hover{
        background-color: rgba($primaryLightDark, 0.25);
    }

    .header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    .description{
        display: inline-block;
        width: 100%;
        font-size: 16px;
        font-weight: normal;
        line-height: 1.4;
        color: $primaryLight;
        margin-bottom: 15px;
        white-space: pre-wrap;
        word-break: break-all;
    }

    .info{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;

        .likes{
            display: flex;
            gap: 5px;
            align-items: center;

            &Count{
                font-size: 12px;
                font-weight: 500;
                line-height: 1;
                color: rgba($primaryLight, 0.5);
            }
        }

        .comments{
            @extend .likesCount;
            transition: color .2s ease;
            cursor: pointer;

            &:hover{
                color: rgba($primaryLight, 1);
            }
        }
    }

    .interactions{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        .btnWrapper{
            flex: 1 1;
        }
    }

    .commentsWrapper{
        margin-top: 15px;
    }
}