$bodyDark: #05141C;

$primaryDark: #1B2730;
$primaryLightDark: #69757E;

$primaryAccent: #1CA1EF;
$secondaryAccent: #DA4167;

$successGreen: #4BB543;

$primaryLight: #F5FEFF;
$secondaryLight: #C8D8E7;