@import '@/styles/colors.scss';

.container{
    height: fit-content;
    border-radius: 20px;
    background: $primaryDark;
    overflow: hidden;
    position: sticky;
    top: 100px;

    @media screen and (max-width: 768px){
        position: static;
    }

    .banner{
        display: block;
        height: 100px;
        width: 100%;
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
    }

    .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 40px 15px 40px;
        text-align: center;
        margin-top: -40px;

        &Avatar{
            width: fit-content;
            margin: 0 auto;
            margin-bottom: 10px;
        }
        
        &Name{
            margin: 0 auto;
            margin-bottom: 10px;
            font-size: 20px;
            line-height: 1.15;
            color: $primaryLight;
            width: fit-content;

            h3{
                display: inline-block;
            }
        }

        &Wallet{
            font-size: 14px;
            line-height: 1.15;
            font-weight: normal;
            cursor: pointer;
            color: rgba($primaryLight, 0.25);
            transition: color .1s ease;
            display: inline-block;
            margin: 0 auto;
            width: fit-content;

            &:hover{
                color: rgba($primaryLight, 0.5);
            }
        }
    }

    .numbers{
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 80px;
        justify-content: center;
        padding: 15px;
        border-top: 1px solid rgba($primaryLightDark, 0.5);
        position: relative;

        @media screen and (max-width: 1160px){
            gap: 30px;
        }

        .divider{
            position: absolute;
            display: block;
            width: 1px;
            height: 48px;
            right: 0;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto auto;
            background-color: rgba($primaryLightDark, 0.5);
        }

        &Item{
            width: fit-content;
            display: flex;
            flex-direction: column;
            margin-right: 0;
            margin-left: auto;
            h3{
                @extend .infoName;
                display: inline-block;
                margin-bottom: 5px;
            }
            span{
                width: fit-content;
                display: inline;
                cursor: auto;
                font-size: 14px;
                line-height: 1.15;
                font-weight: normal;
                color: $primaryLightDark;
            }

        }

        &Item:last-child{
            margin-left: 0;
            margin-right: auto;
        }
    }

}