@import '@/styles/colors.scss';

.container{
    max-width: 384px;
    height: fit-content;
    width: 100%;
    border-radius: 20px;
    background: $primaryDark;
    overflow: hidden;

    .banner{
        display: block;
        height: 100px;
        width: 100%;
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
    }

    .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 40px 15px 40px;
        text-align: center;
        margin-top: -40px;

        &Avatar{
            width: fit-content;
            margin: 0 auto;
            margin-bottom: 10px;
        }
        
        &Name{
            margin: 0 auto;
            margin-bottom: 10px;
            font-size: 20px;
            line-height: 1.15;
            color: $primaryLight;
            width: fit-content;

            h3{
                display: inline-block;
            }
        }

        &Wallet{
            font-size: 14px;
            line-height: 1.15;
            font-weight: normal;
            cursor: pointer;
            color: rgba($primaryLight, 0.25);
            transition: color .1s ease;
            display: inline-block;
            margin: 0 auto;
            width: fit-content;

            &:hover{
                color: rgba($primaryLight, 0.5);
            }
        }
    }

    .numbers{
        display: flex;
        justify-content: center;
        padding: 15px 40px;
        border-top: 1px solid rgba($primaryLightDark, 0.5);
        border-bottom: 1px solid rgba($primaryLightDark, 0.5);

        .divider{
            display: block;
            width: 1px;
            height: 48px;
            margin: 0 40px;
            background-color: rgba($primaryLightDark, 0.5);
        }

        &Item{
            width: 100%;
            text-align: center;
            h3{
                @extend .infoName;
                margin-bottom: 5px;
            }
            span{
                display: inline-block;
                cursor: auto;
                font-size: 14px;
                line-height: 1.15;
                font-weight: normal;
                color: $primaryLightDark;
            }

        }
    }

    .profileBtnRipple{
        border-radius: 0;
    }
    .profileBtn{
        display: block;
        padding: 20px 40px;
        width: 100%;
        text-align: center;
        color: $primaryAccent;
        font-size: 18px;
        font-weight: normal;
        line-height: 1;
        transition: background-color .2s ease;
        position: relative;
        z-index: 2;

        &:hover{
            background-color: rgba($primaryLightDark, 0.25);
        }
    }
}