@import '@/styles/colors.scss';

.commentInteractions{
    display: flex;
    justify-content: space-between;
    align-items: center;

    &Btn{
        margin-top: 10px;
        font-size: 14px;
        font-weight: 500;
        line-height: 1;
        color: rgba($primaryLight, 0.5);
        transition: color .2s ease;
        cursor: pointer;

        &:hover{
            color: rgba($primaryLight, 0.75);
        }
    }
}