@import '@/styles/colors.scss';

.heading{
    font-size: 40px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.inputLabel{
    display: block;
    margin-bottom: 20px;
    
    .labelText{
        display: block;
        margin-bottom: 5px;
        color: rgba($primaryLight, 0.5);
        line-height: 1.2;
    }

    .input{
        padding: 10px;
        width: 100%;
        color: $primaryLight;
        font-size: 16px;
        line-height: 1;
        border: 1px solid $primaryLightDark;
        border-radius: 10px;
        transition: border-color .2s ease;
    
        &:focus-visible{
            border-color: $primaryAccent;
        }
    }
    
    .errorBorder{
        border-color: $secondaryAccent;
    }

    .errorLabel{
        display: inline-block;
        margin-top: 5px;
        font-size: 14px;
        color: $secondaryAccent;
    }
}



.accentBtn{
    padding: 10px !important;
    text-align: center;
}
.accentBtnContainer{
    display: inline-block !important;
}
.submitBtnDisabled{
    filter: brightness(50%);
    pointer-events: none;
    
    span{
        user-select: none;
    }
}