@import '@/styles/colors.scss';

.accountInfo{
    display: flex;
    align-items: center;
    max-height: 40px;
}


.avatar{
    margin-right: 10px;
}

.info{
    max-width: 200px;
}

.textCut{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.name{
    font-size: 16px;
    line-height: 1.15;
    font-weight: bold;
    color: $primaryLight;
}

.infoSecondary{
    color: rgba($primaryLight, 0.5);
    font-size: 14px;
    line-height: 1;
    font-weight: normal;
}

.small{
    max-height: 34px;
    a{
        height: 100%;
    }
    .name{
        font-size: 14px;
    }
    .infoSecondary{
        font-size: 12px;
    }

    .avatar{
        max-height: 34px;
    }
}