@import '@/styles/colors.scss';

.comment{

    &:not(:last-child){
        margin-bottom: 20px;
    }
    &Upper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px;
    }

    .marginContainer{
        margin-left: 44px;
        margin-right: 10px;
    }

    &Inner{
        margin-bottom: 5px;
        span{
            word-wrap: break-word;
            font-size: 14px;
            line-height: 1.2;
        }
    }
    
    &Bottom{
        display: flex;
        align-items: center;
        gap: 15px;
        
        height: 24px;

        .commentBtn{
            cursor: pointer;
            display: flex;
            align-items: center;
            span{
                font-size: 12px;
                line-height: 1;
                font-weight: 500;
                color: rgba($primaryLight, 0.4);
                transition: color .1s ease;
                user-select: none;
            }

            &:hover{
                span{
                    color: rgba($primaryLight, 0.75);
                }
            }
        }

        .likes{
            gap: 5px;

            .likeIcon{
                path{
                    fill: rgba($primaryLight, 0.4);
                    transition: fill .1s ease;
                }
            }

            .liked{
                path{
                    fill: $secondaryAccent !important;
                }
            }

            &:hover{
                .likeIcon{
                    path{
                        fill: rgba($primaryLight, 0.75);
                    }
                }
            }
        }

    }

}

.isReply{
    .marginContainer{
        margin-left: 40px;
    }
}