@import '@/styles/colors.scss';

.btn{
    flex: 1;
    cursor: pointer;
    transition: background-color .2s ease;

    &Inner{
        padding: 10px;
        border-radius: 10px;
        background-color: rgba($primaryLightDark, 0.4);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        height: 40px;
        transition: border-color .2s ease;
    }

    .label{
        font-size: 16px;
        line-height: 1;
        font-weight: 500;
        color: $primaryLight;
        position: relative;
        z-index: 3;
        pointer-events: none;
        user-select: none;
        transition: color .2s ease;
    }

    svg{
        position: relative;
        z-index: 3;
        pointer-events: none;
        path{
            fill: $primaryLight;
            transition: fill .2s ease;
        }
    }

    &:hover{
        background-color: rgba($primaryLightDark, 0.6);
    }

}

.btnTransparent{
    flex: unset;
    max-width: unset;
    background-color: transparent;
    
    .btnInner{
        border: 2px solid rgba($primaryLightDark, 0.6);
        background-color: transparent;

        &:hover{
            border-color: transparent;
        }
    }

    svg{
        path{
            fill: unset;
        }
    }


}

.liked{
    .label{
        transition: color .2s ease;
        color: $secondaryAccent;
    }

    svg{
        path{
            fill: $secondaryAccent;
            transition: fill .2s ease;
        }
    }
}