@import '@/styles/colors.scss';

.loaderWrapper{
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba($bodyDark, 0.95);
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s ease;

    h1{
        position: absolute;
        font-size: 60px;
    }

    
}