@import "../../styles/colors.scss";

.settingsContainer{
    display: flex;
    gap: 40px;
    justify-content: space-between;
    margin-bottom: 20px;

    .settingsMenu{
        width: 30%;
        position: sticky;
        top: 100px;
        height: fit-content;
    }

    .settings{
        padding: 20px 15px;
        width: 70%;
        border-radius: 14px;
        border: 2px solid rgba($primaryLightDark, 0.8);

        &Form{
            display: flex;
            flex-direction: column;
            gap: 20px;

            &BtnContainer{
                margin-left: auto;
                margin-right: 0;
            }

            &Btn{
                padding: 8px 16px;
            }

            .fileInputWrapper{
                display: flex;
                flex-direction: column;
                gap: 8px;
            }

            .banner{
                border-radius: 14px;
                height: 240px;
                object-fit: cover;
                object-position: top;
            }

            .inputContainer{
                max-width: 40%;
            }

            .fileInput{
                cursor: pointer;
                border-radius: 14px;
                border: 2px solid rgba($primaryLightDark, 0.8);
                height: 40px;
                width: 100%;

                &::file-selector-button{
                    cursor: pointer;
                    background-color: $primaryLightDark;
                    height: 100%;
                    padding: 0 10px;
                    margin: 0;
                    outline: none;
                    border: none;
                    margin-right: 10px;
                    color: $primaryLight;
                }
            }

            .avatar{
                border-radius: 14px;
                height: 240px;
                width: 240px;
                object-fit: cover;
                object-position: top;
            }
        }
    }
}

.error{
    font-size: 16px;
    color: $secondaryAccent;
  }